</main>
<footer class="footer">
    <p>Paw Prints Pet Adoption & Care Center &copy; 2024</p>
        <a href="#" id="terms">Terms of Service</a>
        <a href="#"  id="privacy" onclick="alert('Privacy Statement: Your information will not be sold or misused. The website builder is not responsible for incorrect information posted by pet owners.');">Privacy/Disclaimer Statement</a>
</footer>
<script src="/js/main_script.js"></script>
</body>
</html>
