<!DOCTYPE html>
<html lang="en">
<head>
    <title>catCare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

</head>  
<body>
    <div class="main">
        <article class="care-instructions">
                
            <p><div class="care">Health Care</div></p>
                <ul>
                    <li>Get your cat vaccinated. Recommended vaccines include:
                        <ul>
                            <li>Rabies Vaccine</li>
                            <li>Feline Panleukopenia (FPV) Vaccine</li>
                            <li>Feline Herpesvirus (FHV-1) Vaccine</li>
                        </ul>
                    </li>
                    <li>Register your cat with a local Veterinarian</li>
                    <li>Maintain annual wellness visits with your vet</li>
                    <li>Remain within a healthy weight limit</li>
                </ul>
        
            <p><div class="care">Dietary Information</div></p>
                <ul>
                    <li>Discuss with your vet to help you choose the best diet for your cat</li>
                    <li>Cats need taurine, a crucial amino acid, to support heart and eye health. The food you select should be suitable for your cat or kitten's specific life stage. Properly balanced diets will include taurine.</li>
                    <li>Treats should make up no more than 5-10% of your cats diet</li>
                    <li>Avoid overfeeding by following the feeding guidelines on the cat food packaging. Adjust portions based on your cat's activity level and weight.</li>
                    <li>Establish a regular feeding schedule with two to three meals per day. This helps maintain their metabolism and reduces the risk of obesity.</li>
                    <li>Human food can be toxic or harmful to cats. Avoid feeding them chocolate, onions, garlic, alcohol, caffeine, and bones.</li>

                </ul>
            
            <p><div class="care">Grooming</div><br>
            <ul id="grooming">
                <li>Cats generally keep themselves clean and seldom require a bath, but regular brushing or combing is recommended. Regular grooming helps maintain a clean coat, minimizes shedding, and reduces hairball occurrences. For further information please refer to: </li>
                <ul>
                    <li><a href="https://www.aspca.org/pet-care/cat-care/cat-grooming-tips">ASPCA Cat Grooming</a></li>
                    <li><a href="https://www.thesprucepets.com/steps-to-train-your-dog-1118273"> The Spruce Pets</a></li>
                </ul>
            </ul>

            <p><div class="care">House Prep</div></p>
            <ul>
                <li>Provide a clean, dry sleeping area for your pet in your home</li>
                <li>Regularly wash your cat's bedding</li>
                <li>Keep your cat indoors for safety and longevity.</li>
                <li>Outdoor cats face risks such as:</li>
                    <ul>
                        <li>Disease and infection</li>
                        <li>Fights with other animals</li>
                        <li>Getting lost</li>
                        <li>Injuries</li>
                    </ul>
                <li>Purchase good quality food</li>
                <li>Purchase a collar, and id tags</li>
                <li>Additionally you'll want to get treats and toys for your new house mate</li>
            </ul>
        
        </article>
</div>

</body>
<script src="/js/main_script.js"></script>
</html>