<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style.css">
    

    <!--Import cursive font-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+PE:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    </style>

    <!--Import font-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

</head>    
<body class="contact-body">
    <div class="wrapper-contact-us">
        <div class="main">
            <section class="contact">
                <div class="container"> 
                    <h3>Contact us</h3>
                    
                    <div class="contact-wrapper">
                        
                        <div class="contact-form">
                            <h4>Send us a message</h4>
                            <form>
                                <div class="form-element">
                                    <input type="text" name="fname" placeholder="Enter your first name">
                                </div>
                                <div class="form-element">
                                    <input type="text" name="lname" placeholder="Enter your last name">
                                </div>
                                <div class="form-element">
                                    <input type="email" name="email" placeholder="Enter your email">
                                </div>
                                <div class="form-element">
                                    <input type="tel" name="tel" placeholder="Enter your phone number">
                                </div>
                                <div class="form-element">
                                    <input type="text" name="text" placeholder="Your message">
                                </div>
                                <button type="submit">Send message</button>
                            </form>
                        </div>

                        <div class="contact-info">
                            <h4>Contact Information</h4>
                            <p>514 777 8191</p>
                            <p>arroyolola2003@gmail.com</p>
                            <p>123 Street, City, Country</p>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</body>
<script src="/js/main_script.js"></script>
</html>