<!DOCTYPE html>
<html lang="en">
<head>
    <title>dogCare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    </head>

<body>
<div class="main">
        <article class="care-instructions">
            
            <p><div class="care">Health Care</div></p>
                <ul>
                    <li>Get your dog vaccinated. Recommended vaccines include:
                        <ul>
                            <li>canine adenovirus-2 (hepatitis)</li>
                            <li>canine distemper virus</li>
                            <li>canine parainfluenza virus</li>
                        </ul>
                    </li>
                    <li>Register your dog with a local Veterinarian</li>
                    <li>Maintain annual wellness visits with your vet</li>
                    <li>Remain within a healthy weight limit</li>
                    <li>Brush your dogs teeth, maintaining good oral health is important</li>
                </ul>
        
            <p><div class="care">Dietary Information</div></p>
                <ul>
                    <li>discuss with your vet to help you choose the best diet for your pup</li>
                    <li>Stear clear of overly processed foods</li>
                    <li>Make sure your feeding your pup the correct amount for his size and breed</li>

                </ul>
            
            <p><div class="care">Training</div><br>
            <ul id="training">
                <li>If you need help with training your dog you can contact one of our volunteers by submitting a request via the Contact Us page or you can visit one the recommended training sites below</li>
                <ul>
                    <li><a href="https://pawtrainfoundation.org/the-basics-of-dog-training-where-to-start/?gad_source=1&gclid=Cj0KCQjwkdO0BhDxARIsANkNcrc_LSjosIUE3wdf1SV2svnrQtflE7VwjUsEd_q9Vmq69mUCIRImfqgaArEQEALw_wcB">Paw Train Foundation</a></li>
                    <li><a href="https://www.thesprucepets.com/steps-to-train-your-dog-1118273"> The Spruce Pets</a></li>
                </ul>
            </ul>

            <p><div class="care">House Prep</div></p>
            <ul>
                <li>Choose easy to clean areas for your dogs new bed, and water and food dishes</li>
                <li>Hide electrical cords and wires</li>
                <li>Clear your house of any toxic products and keep dangerous items out of reach</li>
                <li>Purchase good quality food</li>
                <li>Purchase a collar, id tags and a leash</li>
                <li>Additionally, you'll want to get treats and toys for your new house mate</li>
            </ul>
        
        </article>
    </div>
</body>
<script src="/js/main_script.js"></script>


</html>