<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">

        <!--Import cursive font-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+PE:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
        </style>
</head>
<body>
    <div class="main">
    <div class="welcome">
        <p>
                Welcome to Paw Prints Pet Adoption & Care Center!<br><br>

            At Paw Prints, we believe every pet deserves a loving home. Our mission is to provide compassionate care, shelter, and support to animals
            in need while connecting them with families who will cherish them forever.<br><br>

            Whether you’re looking to adopt a new furry friend, need top-notch pet care services, or want to support our efforts, you’ve come to the 
            right place. Explore our site to learn more about our available pets, volunteer opportunities, and how you can make a difference 
            in the lives of animals. <br><br>

            Thank you for visiting us, and we look forward to helping you find your perfect companion!<br><br><br><br><br><br>

        </p>
    </div>
    </div>

   
</body>
<script src="/js/main_script.js"></script>


</html>